<h3 class="do-not-print">Character Builder</h3>

@if (Options == null)
{
    <div>ERROR CharacterBuilderForm is missing the Options parameter.</div>
}
else
{
    <div class="do-not-print">
        <EditForm Model="@Options" OnValidSubmit="@SubmitChanges">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <table class="gridtable">
                <tr>
                    <th>Archetype</th>
                    <td>
                        <InputSelect id="parentSection" @bind-Value="Options.SelectedArchetypeString">
                            <option value="">(Random)</option>
                            @foreach (var archetype in Options.CharacterGenerator.Archetypes)
                                {
                                    if (Options.SelectedArchetypeString == archetype.Name)
                                    {
                                    <option value="@(archetype.Name)" selected> @(archetype.Name)</option>
                                    }
                                    else
                                    {
                                    <option value="@(archetype.Name)"> @(archetype.Name)</option>
                                    }
                                }
                        </InputSelect>
                    </td>
                    <th>Race</th>
                    <td>
                        <InputSelect id="parentSection" @bind-Value="Options.SelectedRaceString">
                            <option value="">(Random)</option>
                            @foreach (var race in Options.CharacterGenerator.Races)
                                {
                                    if (Options.SelectedRaceString == race.Name)
                                    {
                                    <option value="@(race.Name)" selected> @(race.Name)</option>
                                    }
                                    else
                                    {
                                    <option value="@(race.Name)"> @(race.Name)</option>
                                    }
                                }
                        </InputSelect>
                    </td>
                    <th>Rank</th>
                    <td>
                        <InputSelect id="parentSection" @bind-Value="Options.SelectedRankString">
                            <option value="">(Random)</option>
                            @foreach (var rank in Options.CharacterGenerator.Ranks)
                                {
                                    if (Options.SelectedRankString == rank.Name)
                                    {
                                    <option value="@(rank.Name)" selected> @(rank.DisplayName)</option>
                                    }
                                    else
                                    {
                                    <option value="@(rank.Name)"> @(rank.DisplayName)</option>
                                    }
                                }
                        </InputSelect>
                    </td>
                    <th>Count</th>
                    <td><InputNumber id="displayOrder" @bind-Value="Options.Count" /></td>
                    <td rowspan="3">
                        <button type="submit">Generate Squad</button>
                    </td>
                </tr>
                @*<tr>
                        <td colspan="2">Leave blank for random.</td>
                        <td colspan="2">Leave blank for random.</td>
                        <td colspan="2">Leave blank for random.</td>
                        <td colspan="2"></td>
                    </tr>*@
                <tr>
                    <td colspan="2">
                        <label> <InputCheckbox @bind-Value="Options.WildCard" /> Wild Card </label>
                    </td>
                    <td colspan="2">
                        <label> <InputCheckbox @bind-Value="Options.BornAHero" /> Born a Hero</label>
                    </td>
                    <td colspan="2">
                        <label> <InputCheckbox @bind-Value="Options.MoreSkills" /> More Skills</label>
                    </td>
                    <td />
                </tr>
            </table>
            <div>If the archetype or race is marked with "(PC)", then it follows standard character creation rules. Otherwise it may have more or less capabilities than a standard character.</div>
            <div>
                Display Mode: <InputSelect id="parentSection" @bind-Value="Options.DisplayMode">
                    <option value="HTML" selected>HTML</option>
                    <option value="Formatted">Formatted</option>
                    <option value="Formatted_Compact">Formatted, Compact</option>
                    <option value="Markdown">Markdown</option>
                    <option value="Markdown_Compact">Markdown, Compact</option>
                </InputSelect>
            </div>
        </EditForm>

        @if (!string.IsNullOrEmpty(ErrorDisplay))
        {
            <p style="color:red">@ErrorDisplay</p>
        }
    </div>

}
