@page "/setting/etu/adventure"
@inherits SettingPage

@if (Model != null)
{
    <SettingHeader CharacterOptions="@Model" />

    <div class="do-not-print">
        <table class="gridtable">
            <tr>
                <th> ETU Adventure Generator</th>
                <td><button @onclick="CreateRitual">Generate Ritual Components</button></td>
                <td><button @onclick="CreateHighStrangness">Generate High Strangeness</button></td>
                <td><button @onclick="CreateAdventure">Generate Adventure</button></td>
                <td><button @onclick="ClearAll">Clear</button></td>
            </tr>
        </table>
    </div>

    @if (!string.IsNullOrEmpty(ErrorDisplay))
    {
        <p style="color:red">@ErrorDisplay</p>
    }

    @if (RitualComponents != null)
    {
        <div>&nbsp;</div>
        <table class="gridtable">
            <tr><th>Ritual Components</th></tr>
            @foreach (var row in RitualComponents)
            {
                <tr>
                    <td>
                        <span style="font-weight:bold"> @(row.Name) </span> &nbsp;
                        @row.Description
                    </td>
                </tr>
            }
        </table>
    }

    @if (HighStrangeness != null)
    {
        <div>&nbsp;</div>
        <table class="gridtable">
            <tr><th>High Strangeness</th></tr>
            <tr>
                <td>
                    <span style="font-weight:bold"> @(HighStrangeness.Card) </span> &nbsp;

                    @if (HighStrangeness.IsMarkdown)
                    {
                        <MarkdownView Content="@HighStrangeness.Description" />
                    }
                    else
                    {
                        @(HighStrangeness.Description)
                    }
                </td>
            </tr>
        </table>
    }

    @if (Adventure != null)
    {
        <div>&nbsp;</div>

        <table class="gridtable">
            <tr><th>Who</th></tr>
            @{
                var current = Adventure.Who;
                while (current != null)
                {
                    <tr>
                        <td>
                            <span style="font-weight:bold"> @(current.Name) </span> &nbsp;

                            @if (current.IsMarkdown)
                            {
                                <MarkdownView Content="@current.Description" />
                            }
                            else
                            {
                                @(current.Description)
                            }
                        </td>
                    </tr>
                    current = current.LinkedItem;
                }
            }
            <tr><th>What</th></tr>
            @{
                current = Adventure.What;
                while (current != null)
                {
                    <tr>
                        <td>
                            <span style="font-weight:bold"> @(current.Name) </span>&nbsp;

                            @if (current.IsMarkdown)
                            {
                                <MarkdownView Content="@current.Description" />
                            }
                            else
                            {
                                @(current.Description)
                            }
                        </td>
                    </tr>
                    current = current.LinkedItem;
                }
            }
            <tr><th>Why</th></tr>
            @{
                current = Adventure.Why;
                while (current != null)
                {
                    <tr>
                        <td>
                            <span style="font-weight:bold"> @(current.Name) </span>&nbsp;

                            @if (current.IsMarkdown)
                            {
                                <MarkdownView Content="@current.Description" />
                            }
                            else
                            {
                                @(current.Description)
                            }
                        </td>
                    </tr>
                    current = current.LinkedItem;
                }
            }
            <tr><th>Where</th></tr>
            @{
                current = Adventure.Where;
                while (current != null)
                {
                    <tr>
                        <td>
                            <span style="font-weight:bold"> @(current.Name) </span>&nbsp;

                            @if (current.IsMarkdown)
                            {
                                <MarkdownView Content="@current.Description" />
                            }
                            else
                            {
                                @(current.Description)
                            }
                        </td>
                    </tr>
                    current = current.LinkedItem;
                }
            }
            <tr><th>Complications</th></tr>
            @{
                current = Adventure.Complications;
                while (current != null)
                {
                    <tr>
                        <td>
                            <span style="font-weight:bold"> @(current.Name) </span>&nbsp;

                            @if (current.IsMarkdown)
                            {
                                <MarkdownView Content="@current.Description" />
                            }
                            else
                            {
                                @(current.Description)
                            }
                        </td>
                    </tr>
                    current = current.LinkedItem;
                }
            }
        </table>

    }

}
else if (LoadFailed)
{
    <h1>Error loading page.</h1>
    <pre>@(LastError)</pre>
}
else
{
    <h1>Loading</h1>
}
