@page "/setting/etu"
@inherits SettingPage

@if (Model != null)
{
    <SettingHeader CharacterOptions="@Model" />

    <CharacterBuilderForm Options="@Model" />

    <div class="do-not-print">
        <table class="gridtable">
            <tr>
                <th> Adventure Generator</th>
                <td><button @onclick="CreateAdventure">Generate</button></td>
                <td><button @onclick="ClearAdventures">Clear</button></td>
            </tr>
        </table>
    </div>

    @if (Adventures.Count > 0)
    {
        @foreach (var adventure in Adventures)
        {
            <h2>ETU Adventure </h2>
            <table class="gridtable">
                <tr><th>Who</th></tr>
                @{
                    var current = adventure.Who;
                    while (current != null)
                    {
                        <tr><td><span style="font-weight:bold"> @(current.Name) </span> @(current.Description) </td></tr>
                        current = current.LinkedItem;
                    }
                }
                <tr><th>What</th></tr>
                @{
                    current = adventure.What;
                    while (current != null)
                    {
                        <tr><td><span style="font-weight:bold"> @(current.Name) </span> @(current.Description) </td></tr>
                        current = current.LinkedItem;
                    }
                }
                <tr><th>Why</th></tr>
                @{
                    current = adventure.Why;
                    while (current != null)
                    {
                        <tr><td><span style="font-weight:bold"> @(current.Name)</span> @(current.Description) </td></tr>
                        current = current.LinkedItem;
                    }
                }
                <tr><th>Where</th></tr>
                @{
                    current = adventure.Where;
                    while (current != null)
                    {
                        <tr><td><span style="font-weight:bold"> @(current.Name )</span> @(current.Description) </td></tr>
                        current = current.LinkedItem;
                    }
                }
                <tr><th>Complications</th></tr>
                @{
                    current = adventure.Complications;
                    while (current != null)
                    {
                        <tr><td><span style="font-weight:bold"> @(current.Name) </span> @(current.Description) </td></tr>
                        current = current.LinkedItem;
                    }
                }
            </table>

            <hr />
        }
    }
}
else if (LoadFailed)
{
    <h1>Error loading page.</h1>
    <pre>@(LastError)</pre>
}
else
{
    <h1>Loading</h1>
}
